@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body {
    height: 100vh;
    display: flex;
    background-image: url(img/background-body.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    height: 640px;
    width: 640px;
}

.memory-game {
    height: inherit;
    width: inherit;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 5px 2px black;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-image: url(img/background-texture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

.buttons {
    height: 120px;
    width: 100%;
    display: flex;
    margin-top: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: 60%;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    position: absolute;
    border: none;
    box-shadow: 1px 1px 5px 2px black;
    background-color: rgb(54, 54, 54);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: rgb(31, 31, 31);
}

.new-game {
    visibility: hidden;
}